html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: rgb(248, 244, 244);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  
}

nav {
  background-color: rgb(68, 68, 143);
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.logo {
  width: 120px;
  height: 60px;
}

.search {
  height: 25px;
  width: 200px;
  border-radius: 50px;
  border: none;
  padding: 13px;
}

.search:focus {
  outline: none;
}

ul {
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  background-color: rgba(82, 72, 136, 0.664);
  height: 70px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
    top: 60px;
    width: 100%;
    transition: top 0.3s;
    z-index: -1;
}

.category-button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.category-button:hover {
  background-color: #1e293b;
  color: #fff;
}

#box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 150px auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 420px;
  height: 300px;
  background-color: white;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text {
  padding: 0 15px;
}

.title {
  font-size: 16px;
  margin-top: 10px;
}

.img-product {
  width: 50%;
  height: 60%;
  margin-top: 10px;
  margin-right: 15px;
}

.buy {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  background: rgb(68, 68, 143);
  border-radius: 999px;
  box-shadow: rgb(68, 68, 143) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  word-break: break-word;
  border: 0;
}

.price {
  margin-top: 25px;
  font-size: 16px;
}
